<p>{{beer.name}}</p>
<p>{{beer.style}} </p>
<p>{{beer.abv}}% ABV</p>
<ul>
    <li ng-repeat="review in beer.reviews">
        {{review.text}} by {{review.name}} <a ng-click="deleteReview()">Delete Review</a>
    </li>
</ul>
<form>
    <h3>Add a review</h3>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Name" ng-model="newReview.name"></input>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Text" ng-model="newReview.text"></input>
    </div>
    <button ng-click="addReview()" class="btn btn-primary">Add Review</button>
</form>
