<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h1 class="text-center">BeerList</h1>
        <div class="page-header">
        </div>
        <div ng-repeat="beer in beers track by $index">
            <!-- we don't want to display the beer whilst editing -->
            <div ng-hide="tempBeer">
                <img ng-src={{beer.image_url}}/>
                <p>{{beer.name}}</p>
                <p>{{beer.style}} </p>
                <p>{{beer.abv}}% ABV</p>
                <button ng-click="editBeer($index)">Edit Beer</button>
                <button ng-click="removeBeer($index)">Delete Beer</button>
                <a ui-sref="beer({id: beer._id, beerParam: beer})">Review</a>
                <hr>
            </div>
            <!-- we want to display the form whilst editing -->
            <form ng-show="tempBeer">
                <!-- all inputs are bound to the temporary beer -->
                <input type="text" ng-model="tempBeer.name">
                <input type="text" ng-model="tempBeer.style">
                <input type="text" ng-model="tempBeer.abv">
                <!-- if cancel is pressed, all we need to do is remove the tempBeer -->
                <button type="button" ng-click="tempBeer = null">Cancel</button>
                <button type="button" ng-click="updateBeer(tempBeer, $index)">Submit</button>
            </form>
        </div>
        <form>
            <h3>Add a new beer</h3>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Beer Name" ng-model="newBeer.name"></input>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Style" ng-model="newBeer.style"></input>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="ABV" ng-model="newBeer.abv"></input>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Image URL" ng-model="newBeer.image_url"></input>
            </div>
            <button ng-click="addBeer()" class="btn btn-primary">Add Beer</button>
        </form>
    </div>
</div>
